.Top {
    background-color: black;
    position: fixed;
    top: 0;
    height: 25%;
    width: 100%;
}
.leftSide {
    background-color: grey;
    width: 15%;
    height: 75%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rightSide {
    background-color: grey;
    width: 15%;
    height: 75%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bottom {
    background-color:black;
    height: 10%;
    width: 70%;
    position: absolute;
    right: 15%;
    bottom: 0; 
}
